name: build-and-deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Change to lowercase
        run: |
          echo "IMAGE_LC=${IMAGE,,}" >>${GITHUB_ENV}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_LC }}
          build-args: |
            NEXT_PUBLIC_BASE_URL=/api

      - name: Load kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > kubeconfig
          echo "KUBECONFIG=$(pwd)/kubeconfig" >> $GITHUB_ENV

      - name: Render manifests with image tag
        run: |
          sed -i "s#ghcr.io/front-end-bootcamp-plus-5/ssemtle:IMAGE_TAG#${IMAGE_LC}#g" k8s/deployment.yaml

      - name: Apply manifests & wait for rollout
        env:
          KUBECONFIG: ${{ env.KUBECONFIG }}
        run: |
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/ingress.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl -n apps rollout status deploy/ssemtle --timeout=180s
